name: Rust

on: [push, pull_request]

jobs:
  build_and_test:
    name: BuildAndTest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version:
          - stable
          - nightly

    steps:
    - uses: actions/checkout@v1

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust_version }}
        override: true

    - uses: actions-rs/cargo@v1
      with:
        command: build

    - run: ./tests.sh target/debug/split

    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - run: ./tests.sh target/release/split

    - uses: actions/upload-artifact@master
      with:
        name: split
        path: target/release/split
